<!DOCTYPE html>
<html lang= "ro">
    <head>
        <meta charset=utf-8> 
        <title>OLX Crawler</title>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
            #button{
                height: 60px;
                width: 300px;
                font-size: 50px;
                font-family: "Staatliches", cursive;


            }
        </style>
    </head>
    <body>
        <div class="bgsquare">
            <form action="/filters/">
                <input id="button" type="submit" value="Generate" />
            </form>
        </div>
    </body>
</html>